$primary: rgb(189, 210, 182);
$link: rgb(121, 135, 119);
$footer-padding: 1rem 1.5rem 1rem;

$info: rgb(248, 237, 227);
$success: rgb(189, 210, 182);
$warning: rgb(162, 178, 159);
$danger: rgb(121, 135, 119);